.container {
  margin-left: 100px;
  padding: 10px;
}
header {
  background-color: aquamarine;
  position: relative;
}
ul {
  list-style: none;
  display: flex;
}
ul li {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;
}
a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: larger;
  font-weight: bold;
  color: rgb(215, 93, 56);
}
